.login_background{
    background-color: #5e9ca9;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.login_wrapper{
    background-color: #fff;
    border-radius: 20px;
    height: 80%;
    width: 85%;
    padding: 10px;
    position:absolute;
    display: flex;
}
.login_form{
    width: 50%;
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
}
.login_image{
    width: 50%;
    height: 100;
    overflow: hidden;
    border-radius: 20px;
}
.login_image>img{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}