.login_background{
    background-color: #5e9ca9;
    min-height: 100vh;
    min-width: 100vw;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_wrapper{
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    position:relative;
    display: flex !important;
    align-items: center;
    margin-inline: 30px;
}
.login_form{
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.login_image{
    width: 50%;
    height: 100%;
}
.login_image>img{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border-radius: 20px;
}